
 .container-fluid
{
    background-color: darkolivegreen;

   
}
nav .container-fluid p
{
    font-size: 5em;
    margin: 0 auto;
    color: black;
    padding: 0;
}
body
{
    background-color: wheat;
    background-image: url("./images/5762651682_d57f4f7ec3_b.jpg");
    background-size: 200rem;
    background-repeat: no-repeat;
    
}
.card 
{
    border-radius: 10%;
    width: 40rem;
    display: flex;
    align-items: center;
    align-self: center;
    margin: auto;
}
img
{
    background-color:whitesmoke;
    
}
.container-app
{
    margin: auto;
    width: 100%;
    height: 100rem;
    direction: rtl;
    display: flex;
    align-content: center;
    padding-top: 1%;
    
}
.btn-primary
{
    width: 7.5rem;
}
a
{
    color: white;
    text-decoration: none;
}
.card-body
{
    margin: auto;

}
.footer
{
    padding: 0;
    display: flex;
    position:fixed;
    bottom:0%;
    width: 100%;
    margin-top: 10px;
}
